@tailwind base;
@tailwind components;
@tailwind utilities;

@import './syntax-highlighting.css';

@font-face {
    font-family: 'Hack';
    src: url(/assets/fonts/Hack-NF.ttf);
    display: swap;
}

* {
    font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 3px;
    width: 2px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: white;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #1e252e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ebdbb2;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff8037;
}
